@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');

/* @media only screen and (max-width: 990px) {
    .mobile-center {
        text-align: center;
    }
} */
/* ========= Bigger Desktop ========= */
@media all and (min-width: 1200px) {
    #contactUs {
        text-align: center !important;
    }
}

/* ============ Desktop ============ */
@media all and (min-width: 992px) {
    /* .navbar .nav-item .dropdown-menu {
        display: none;
    }


    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    } */

    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
        top: 60% !important;
    }

    .nav-margin {
        margin: 0 2rem 0 0;
    }

    ul#collapsableNav li:last-child {
        margin-top: -0.5rem;
    }

    #contactWrapper {
        margin-left: 1rem !important;
    }

    #mapWrapper {
        height: 70vh;
    }

    #mapWrapper iframe {
        height: 100%;
    }

    #video-sec {
        min-height: 100vh !important;
    }

    h6.text-uppercase.fw-bold.fs-3 {
        margin-bottom: 5.5rem !important;
    }

    #hero-banner {
        width: 75% !important;
    }

    #hero-banner-background {
        width: 65% !important;
    }

}

/* ============ desktop view .end// ============

/* ============ Medium ============ */
@media all and (min-width: 768px) {
    
    #hero-banner h1 {
        font-size: 99px !important;
    }

    #hero-banner {
        padding-top: 27rem !important;
    }

    

    /* #navbarDropdown {
        pointer-events: none !important;
    } */
}
/* ============ Medium view .end// ============ */

@media all and (max-width: 576px) {
    #contactWrapper {
        width: 100%;
    }

    .mb-50 {
       height: 150vh !important;
    }
}

/* #mapWrapper {
    position: relative;
    Aspect Ratio
    padding-bottom: 60% !important;
    height: 368px;
    overflow: hidden;
}


#mapWrapper iframe {
	border: 0;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
    overflow: hidden;
    height: 100% !important;
}

    @media all and (max-width: 1145px) {
        #contentWrapper { flex-direction: column !important; }
    }  */


#mapWrapper iframe {
    overflow: hidden;
    position: absolute;
}

ul.nav a:hover {
    color: white !important;
}

.min-vh-70 {
    min-height: 70vh !important;
}

#video-sec {
    min-height: 100vh;
    padding-bottom: 30%;
}

.centered-background {
    min-width: 100%;
    min-height: 100%;
    /* height: 100vh; */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* background-position: center; */
    overflow-y: hidden;
    overflow-x: hidden;
    top: 0;
    left: 0;
    z-index: 0;
}
/* 
    @media all and (max-width:768px) {
        .centered-background {
            height: 100vh;
        }
    } */

#textpage-wrapper {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-width: 100%;
    position: relative;
    z-index: -10;
    /* filter:blur(10px); */
}
 #textpage-wrapper::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(50, 50, 50, 0.078);
    /* filter: blur(100px); */
    z-index: 1;
 }

#hero-banner {
    position: absolute;
    width: 100%;
    z-index: 10;
    top: 50%;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, -50%);
    /* padding-top: 5rem !important; */
}

#hero-banner h1 {
    font-size: 40px;
    font-weight: 400;
    width: 100%;
}

#hero-banner-background {
    background-color: rgba(64, 62, 62, 0.322);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    padding: 1rem;
}

#aboutHero {
    /* background-image: url("https://source.unsplash.com/Yx9lWACrpew"); */
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
    overflow: auto;
    position: relative;
    /* height: 30vh; */

}

#aboutHero::before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://source.unsplash.com/Yx9lWACrpew");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    z-index: -100;
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    filter: blur(8px);
}

#aboutHeroText {
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    z-index: 2;
    width: 80%;
    padding-top: 10%;
    text-align: center;
}


#video-wrapper {
    z-index: -10;
}

#big-nav {
    z-index: 99;
}


.rounded-4 {
    border-radius: 24px;
}

.blur {
    filter: blur(5px) !important;
}

.sepia {
    filter: sepia(100%) !important;
}

a.text-reset.text-decoration-none:hover {
    opacity: 0.7;
    transition: 0.3s;
}

/* Always on top */

.teko {
    font-family: 'Teko', sans-serif;
}

.main-content { overflow-x: hidden; }

/* Gallery Grid System */

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #353535;
    font-size: 3rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }
  
.gallery:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
 }


.gallery-grid {
    display: grid;
    gap: 1rem;
  
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: 480px;
  }
  
/* Catalog Grid system */

.catalog-grid {
    display: grid;
    gap: 1rem 0.5rem;
    /* margin-left: -5% !important; */
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 500px;

}


